# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# AWS
.aws/

# Environment variables
.env
.env.*

# SSH keys
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log